
<div class="body">
  
  <div class="stage">
    
    <div class="row ">
        <p class="clr">Cantact Us</p>
        <div class="col int mt-5">
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            aria-label="First name"
          />
        </div>
        <div class="col int mt-5">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            aria-label="Last name"
          />
        </div>
        <div class=" mt-5">
            <input
              type="number"
              class="form-control"
              placeholder="Your number"
              aria-label="number"
            />
          </div>
          
      </div>
      <a  (click)="opensweetalert()" >
        <span>Button</span>
        <div class="liquid"></div>
      </a>
     
    <div class="campfire">
      <div class="sparks">
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
      </div>
      <div class="logs">
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
      </div>
      <div class="sticks">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
      </div>
      <div class="fire">
        <div class="fire__red">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
        <div class="fire__orange">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
        <div class="fire__yellow">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
        <div class="fire__white">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
      </div>
    </div>
  </div>
</div>
